---
layout: layouts/construction.njk
pageTitle: Level 07 - Admin Essentials
title: Level 07 - Admin Essentials em Construção
headerType: doc
asideType: doc
constructionMessage: "A seção em desenvolvimento. Estamos preparando conteúdos de alta qualidade para você!"
constructionEstimate: "Fevereiro de 2026"
constructionProgress: 10
permalink: /modules/07-admin-essentials/

---

